<body class="centered-content">

  <div class="has-text-centered">
    <h1 class="title is-size-2 has-text-weight-light has-text-white mb-5">Whatcha wanna eat?</h1>
  </div>

  <app-search-filters
  (searchResultsEvent)="recieveSearchResults($event)">
  </app-search-filters>

  <div *ngIf="searchResults?.length > 0" class="has-text-centered">
    <h5 class="title is-size-4 has-text-weight-normal  has-text-white mb-5">{{searchMessage}}</h5>
  </div>
  <div *ngIf="searchResults?.length === 0" class="has-text-centered">
    <h5 class="title is-size-4 has-text-weight-normal  has-text-white mb-5">{{noResults}}</h5>
  </div>

  <div >
    <app-search-results
      *ngFor="let searchResult of searchResults"
      [searchResult]="searchResult">
    </app-search-results>
  </div>

</body>
