<div class="input-boxes level-item">
  <div id=#name class="name control has-icons-left has-icons-right mx-2">
    <input class="input is-large" type="text" placeholder="Restaurant name?">
    <span class="icon is-left">
      <i class="fas fa-utensils"></i>
    </span>

  </div>
  <div id=#cuisine class="cuisine control has-icons-left has-icons-right mx-2">
    <input class="input is-large" type="text" placeholder="Cuisine? indian, thai...">
    <span class="icon is-left">
      <i class="fas fa-drumstick-bite"></i>
    </span>

  </div>
</div>

<div class="selectors level-item p-6">

  <div class="control has-icons-left">
    <div id=#distance class="select mx-3">
      <select>
        <option selected>Distance</option>
        <option>Select dropdown</option>
        <option>With options</option>
      </select>
    </div>
    <div class="icon is-small is-left pl-5">
      <i class="fas fa-road"></i>
    </div>
  </div>

  <div class="control has-icons-left">
    <div id=#rating class="select mx-3">
      <select>
        <option selected>Rating</option>
        <option>Select dropdown</option>
        <option>With options</option>
      </select>
    </div>
    <div class="icon is-small is-left pl-5">
      <i class="fas fa-star-half-alt"></i>
    </div>
  </div>

  <div class="control has-icons-left">
    <div id=#price class="select mx-3">
      <select>
        <option selected>Price</option>
        <option>Select dropdown</option>
        <option>With options</option>
      </select>
    </div>
    <div class="icon is-small is-left pl-5">
      <i class="fas fa-dollar-sign"></i>
    </div>
  </div>

</div>
